.service-butt{
    float: right;
}

.service-butt ul{
    display: flex;
  
}
.service-butt ul li{
    padding-right: 20px;
    display: block;  
}

.service-butt ul li a{
    padding: 15px 30px;
    color: #ffffff;
    background-color: #0D152F;
    border-radius: 20px;
    text-decoration: none;
}



.box{
    background-color: #D9D9D9;
    border-radius: 40px;
    margin: 10px;
}
.subContainer1, .subContainer2, .subContainer3, .subContainer4{
    width: 100%;
    height: auto;
    display: flex;
}
.subBox{
    display: flex;
    padding: 10px;
}
.sub{
    padding: 20px;
}
.rating{
    width: 150px;
    padding-bottom: 5px;
}
.rating >*{
    float: right;
}
.rating label{
    display: block;
    position: relative;
    cursor: pointer;
    height: 40px;
    width: 20%;
}
.rating label::after{
    transition: all 0.4s ease-out;
    -webkit-font-smoothing:antialiased;
    position: absolute;
    content: "☆";
    color: #444;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 25px;
    -webkit-animation: 1s pulse ease;
    animation: 1s pulse ease;
}
.rating label:hover::after{
    color: #5e5e5e;
    text-shadow: 0 0 15px #5e5e5e;
}
.rating input{
    display: none;
}
.rating input:checked + label::after,
.rating input:checked ~ label::after{
    content: "★";
    color: #f9bf3b;
    text-shadow: 0 0 20px #f9bf3b;
}
.heartBtn{
    float: right;
    padding-left: 200px;
    padding-top: 10px;
}
.heartBtn label{
    display: block;
    position: relative;
    cursor: pointer;
    height: 40px;
    width: 20%;
}
.heartBtn label::after{
    transition: all 0.4s ease-out;
    -webkit-font-smoothing:antialiased;
    position: absolute;
    content: "♡";
    color: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 20px;
    -webkit-animation: 1s pulse ease;
    animation: 1s pulse ease;
}
.heartBtn label:hover::after{
    color: #5e5e5e;
    text-shadow: 0 0 15px #5e5e5e;
}
.heartBtn input{
    display: none;
}
.heartBtn input:checked + label::after,
.heartBtn input:checked ~ label::after{
    content: "♥";
    color: red;
    text-shadow: 0 0 20px red;
}
.submitbtn{
    text-align: center;
    background-color:#01002E ;
    color: #fff;
    border-radius: 20px;
    margin-left: 350px;
    margin-bottom: 10px;
    padding: 10px;
    width: 20%;
}