.section1{
    
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 95%;
    margin: 0 auto 2cm auto;
}

.section1 img{
    height: 300px;
}

.section1 h1{
    margin: 0;
    color: rgb(0, 0, 0);
}


.section1 p{
    color: rgb(0, 0, 0);
    margin-right: 15px;
}


.section2{
    display: flex;
    justify-content: center;
    width: 95%;
    padding: 20px;
    margin: 0 auto 2cm auto;
}


.section2image{
    flex-basis: 45%;
}

