
.service-box{
    position: static;
    width: 94%;
    
    box-sizing: border-box;
    background: #D9D9D9;
    border-radius: 20px;
    
    padding: 2em;
    margin: 55px;
    display: flex;
}

.service-box .service-pic{
    width: auto;
    height: auto;
    padding: 10px;
}
.service-box .service-pic img{
    max-width: 100%;
}

.service-butt{
    float: right;
}

.service-butt ul{
    display: flex;
  
}
.service-butt ul li{
    padding-right: 20px;
    display: block;  
}

.service-butt ul li a{
    padding: 15px 30px;
    color: #ffffff;
    background-color: #0D152F;
    border-radius: 20px;
    text-decoration: none;
}

.close6, .close5{
    color: white;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close6:hover, .close6:focus, .close5:hover, .close5:focus{
    text-decoration: none;
    cursor: pointer;
}



.service-section {
    background: #D9D9D9;
    border-radius: 20px;
    padding: 2em;
    margin: 55px;
    width: 90%;
    
}
.column-img{
    flex: 40.33%;
    padding: 5px;
    
}
.row-img{
    display: flex;
}

.checked {
    color: orange;
}